@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro!";
}

<h2 class="text-danger">Um erro aconteceu no processamento de sua requisição.</h2>
<h3 class="text-danger">Tente mais tarde.</h3>

