@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Contato:</strong>   <a href="mailto:angelo.savioti1@estudante.ufla.br">angelo.savioti1@estudante.ufla.br</a><br />
</address>